body{
  background-color: #cd6839;
}
ul{
  padding: 10px 35px;
  margin: 5px;
  background: yellow;
  list-style: none;
}
ul, li{
  padding: 0px;
  margin: 0;
  background: #b22222
}
ul{
  list-style: none;
  width:100%;
}
li{
  float:left;
  width:auto;
}
a {
   background: #00f5ff;
   color: #483d8b;
   display: block;
   font: bold 15px sans-serif;
   padding: 10px 25px;
   text-align: center;
   text-decoration: none;
}
li:hover a{
  background: #000000
}
